<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Success</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div style="height:50vh;padding:20%">
  <div class="text-center">
    <p style="border:1px solid green;background:lightgreen">Transaction has succeeded. To start another one press the button below.</p>
    <a class="btn btn-primary btn-lg" href="/validate">New Transaction</a>
  </div>
</div>
</body>
</html>
